* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 12px;
}

/* stili generali */

.no-display {
    display: none;
}

/* /stili generali */

body {
    background-color: #141922;
}

.container {
    height: 100vh;
    width: 100%;
    border: 2px solid red;
}

a {
    text-decoration: none;
}

/* nav bar laterale */

nav {
    width: 250px;
    min-height: 300px;
    height: calc(100% - 80px);
    background-color: black;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-logo {
    height: 80px;
    width: 250px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.container-logo a {
    width: 60%;
}

.navigation-menu, .playlist-item {
    list-style: none;
    margin-top: 10px;
}

.navigation-menu img {
    width: 20px;
    vertical-align: middle;
}

.navigation-menu span, .playlist-container a, .playlist-container i, .playlist-item a, .download-app span{
    color: #666666;
    font-weight: bold;
}

.playlist-container i {
    margin-right: 5px;
}

.navigation-menu li, .playlist-item li, .playlist-container h4, .playlist-container p{
    padding: 5px 30px;
}

.navigation-menu li:hover, .playlist-item li:hover, .playlist-container p:hover, .download-app:hover {
    border-left: 2px solid yellow;
    cursor: pointer;
}

.navigation-menu li:hover a, .navigation-menu li:hover i, .playlist-item li:hover a, .download-app-container span:hover .playlist-container p:hover a, .playlist-container p:hover i, .download-app:hover span {
    color: white;
}

.playlist-container  {
    margin-top: 20px;
    flex-grow: 2;
    overflow: hidden;
}

.playlist-item  { 
    max-height: 70%;
    overflow-y: auto;
}

.playlist-container  i {
    font-size: 40px;
    vertical-align: middle;

}

.download-app-container hr {
    color: #666666;
    width: 90%;
    margin: auto;
}

.download-app-container img {
    width: 20px;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 10px;
}

.account-id{
    font-weight: bold;
    margin: 10px 0;
}

.account-id i {
    font-size: 26px;
    vertical-align: middle;
}

/* /nav bar laterale */
/* barra superiore */

.higher-bar {
    width: calc(100% - 250px);
    height: 80px;
    background-color: #080b12b7;
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.higher-bar span {
    font-weight: bold;
    font-size: 13px;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 30px;
}

.higher-bar span:hover {
    transform: scale(1.1);
}

/* /barra superiore */
/* corpo principale */

main {
    margin-left: 270px;
    border: 2px solid blue;
    width:calc(100%-270px);
    height: 100%;
    padding-top: 80px;
}

.music-style {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.music-style li {
    margin-top: 10px;
}

.music-style li a {
    padding: 0 10px;
    font-weight: bold;
    color: #666666;
    position: relative;
}

.music-style li a:before {
    content: "";
    background-color: yellow;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
}

.music-style li a:hover:before, .music-style li a:hover {
    opacity: 100%;
    color: white;
}

main h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.music-played {
    width: calc(100%/7);
}

.music-played>*{
    padding: 5px 0;
    text-align: center;
}

.played-container {
    display: flex;
    justify-content: space-around;
}

.played-container img {
    width: 100%;
    margin-top: 10px;
}

.music-played i {
    opacity: ;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.music-played .layover {
    position: relative;
}

.layover:hover img {
    opacity: 50%;
}

.layover:hover i {
    opacity: 100%;
}


/* /corpo principale */
/* footer */

    footer {
        height: 80px;
        width: 100%;
        background-color: #282828;
        position: fixed;
        bottom: 0%;
    }

/* /footer */





@media screen and (max-width:767px) {
    .xs-no-display {
        display: none;
    }

    .no-display {
        display: block;
    }

    main {
        margin-left: 70px;
        border: 2px solid blue;
        width:calc(100%-70px);
        height: 100%;
    }

    .higher-bar {
        width: calc(100% - 50px);
        left: 50px;
    }

    nav {
        width: 50px;
        justify-content: flex-start;
        align-items: center;
    }
    .container-logo {
        width: 100%;
        height: 30px;
        margin: 0;
        align-items: flex-start;
        justify-content: center;
    }


    .container-logo img {
        width: 30px;
    }

    .navigation-menu {
        flex-grow: 2;
    }

    }